#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 {
  position: absolute;
  width: 1280.0px;
  min-height: 800.0000000000003px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(0.0deg, #F5F4FF 30.943667989983624%, #FFFFFF 99.10751631130456%);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_28 span#rtr-t-Rectangle_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}