#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 > #backgroundBox {
  position: absolute;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1248.0px;
  max-height: 708.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Image_1 {
  position: absolute;
  width: 648.0000000000001px;
  height: 648.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Table_18 {
  position: absolute;
  width: 517.1253341674806px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .verticalalign {
  vertical-align: middle;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .Cell_67 > *:first-child {
  margin-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .Cell_67 > *:last-child {
  margin-right: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .Cell_67 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_67 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 {
  width: 61.34228515625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_115 span#rtr-s-Paragraph_115_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .Cell_9 > *:first-child {
  margin-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .Cell_9 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_134 span#rtr-s-Paragraph_134_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_133 span#rtr-s-Paragraph_133_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3459375f-7ebf-46d3-85a5-c94ba9ffd713 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}