#s-8ab921b5-bc06-4878-8244-e825bf936254 > #backgroundBox {
  position: absolute;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 > #alignmentBox {
  position: relative;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 {
  position: absolute;
  width: 341.7757009345794px;
  min-height: 170.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_5 {
  position: absolute;
  width: 309.3634033203125px;
  height: 2.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_12 {
  position: absolute;
  width: 259.5514018691588px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_12 span {
  color: #ADADAD;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #ADADAD;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_29 {
  position: absolute;
  width: 79.20653840537398px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Image_6 {
  position: absolute;
  width: 28.907289719626306px;
  height: 29.17999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_53 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_53 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_53 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_33 {
  position: absolute;
  width: 14.029998779296875px;
  height: 14.155513763427734px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 {
  position: absolute;
  width: 341.7757009345794px;
  min-height: 170.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_2 {
  position: absolute;
  width: 309.3634033203125px;
  height: 2.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_11 {
  position: absolute;
  width: 259.5514018691589px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_11 span {
  color: #ADADAD;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #ADADAD;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_28 {
  position: absolute;
  width: 93.46000671386719px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Image_3 {
  position: absolute;
  width: 32.06056961206855px;
  height: 35.1772041477783px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_51 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_51 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_51 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_32 {
  position: absolute;
  width: 14.029998779296875px;
  height: 14.155513763427734px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 {
  position: absolute;
  width: 341.77570093457973px;
  min-height: 170.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_1 {
  position: absolute;
  width: 309.3634033203125px;
  height: 2.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_10 {
  position: absolute;
  width: 259.55140186915906px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_10 span {
  color: #ADADAD;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #ADADAD;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.875pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_27 {
  position: absolute;
  width: 103.89398699608904px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Image_4 {
  position: absolute;
  width: 31.918878504672875px;
  height: 28.17999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_49 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_49 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_31 {
  position: absolute;
  width: 14.029998779296875px;
  height: 14.155513763427734px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Image_11 .imageViewport > * {
  width: 100.0%;
  height: 399.99999999999943%;
  left: -0.0%;
  top: -111.11111111111119%;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Image_11 {
  position: absolute;
  width: 1060.0000000000002px;
  height: 160.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 {
  position: absolute;
  width: 1059.9999999999998px;
  min-height: 160.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #A59CFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Mask_1 {
  position: absolute;
  width: 92.00090026855469px;
  height: 92.40339660644531px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_34 {
  position: absolute;
  width: 114.7705078125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_34 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_32 span {
  color: #7268DD;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #7268DD;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 {
  position: absolute;
  width: 154.66999999999985px;
  min-height: 31.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 1.2px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 {
  position: absolute;
  width: 884.0000001663602px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 .valign {
  vertical-align: middle;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Input_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_124 {
  position: absolute;
  width: 12.979684829711914px;
  height: 12.920000076293945px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_114 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_61 {
  position: absolute;
  width: 273.4882812499999px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_61 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_61 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_61 span#rtr-s-Paragraph_61_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_18 {
  position: absolute;
  width: 135.5390625px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_18 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Union_5 {
  position: absolute;
  width: 18.471176147460938px;
  height: 15.984161376953125px;
  cursor: pointer;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_48 {
  position: absolute;
  width: 16.24847412109375px;
  height: 18.440032958984375px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 {
  position: absolute;
  width: 180.00000000000023px;
  min-height: 828.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_19 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_19 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_11 {
  position: absolute;
  width: 16.666664123535156px;
  height: 12.903030395507812px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Union_3 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_21 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_21 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_24 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_24 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Union_6 {
  position: absolute;
  width: 15.852066040039062px;
  height: 14.80975341796875px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_25 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_25 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_43 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_28 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_26 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_26 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_47 {
  position: absolute;
  width: 86.00067983001458px;
  min-height: 16.441142067769675px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_47 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Mask_7 {
  position: absolute;
  width: 70.00068664550781px;
  height: 70.30477905273438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_48 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_48 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 #s-Path_30 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8ab921b5-bc06-4878-8244-e825bf936254 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}