#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a > #backgroundBox {
  position: absolute;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a > #alignmentBox {
  position: relative;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_24 {
  position: absolute;
  width: 568.1625366210938px;
  height: 2.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 {
  position: absolute;
  width: 440.00000000000034px;
  min-height: 311.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Subtraction_1 {
  position: absolute;
  width: 138.9749755859375px;
  height: 179.53778076171875px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_12 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: #FFE373;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Subtraction_3 {
  position: absolute;
  width: 93.6024169921875px;
  height: 63.07427978515625px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_11 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #E7A496;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Subtraction_2 {
  position: absolute;
  width: 115.9080810546875px;
  height: 91.56072998046875px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_13 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 > .backgroundLayer > .colorLayer {
  background-color: #BECF7A;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Mask_9 {
  position: absolute;
  width: 52.24379348754883px;
  height: 52.468482971191406px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_59 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_59 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_59 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_59 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_59 span#rtr-s-Paragraph_59_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_9 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #FFE373;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_67 {
  position: absolute;
  width: 53.095001220703125px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_67 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_67 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_67 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_67 span#rtr-s-Paragraph_67_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_24 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_8 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #BECF7A;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_32 {
  position: absolute;
  width: 51.09716796875px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_26 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Ellipse_10 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #E7A496;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_68 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_68 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_68 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_68 span {
  color: #9F97E0;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_68 span#rtr-s-Paragraph_68_0 {
  color: #9F97E0;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_16 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_17 {
  position: absolute;
  width: 169.50937340470824px;
  min-height: 29.78728673173191px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_17 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 {
  position: absolute;
  width: 804.5891113281255px;
  min-height: 336.7258500108797px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 {
  position: absolute;
  width: 83.34210859064831px;
  min-height: 76.41086596400714px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 > .backgroundLayer > .colorLayer {
  background-color: #ECEAFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 {
  position: absolute;
  width: 107.35593648964857px;
  min-height: 299.16796674043496px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #ECEAFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_56 {
  position: absolute;
  width: 85.85550441049986px;
  min-height: 19.426491346781404px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_56 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_56 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_56 span {
  color: #9F97E0;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_56 span#rtr-s-Paragraph_56_0 {
  color: #9F97E0;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_8 {
  position: absolute;
  width: 19.267566680908203px;
  height: 14.473593711853027px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 {
  position: absolute;
  width: 83.34210859064814px;
  min-height: 76.41086596400714px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #ECEAFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_51 {
  position: absolute;
  width: 11.928973848610156px;
  min-height: 24.606889039256544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_51 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_51 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_60 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_60 span#rtr-s-Paragraph_60_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 {
  position: absolute;
  width: 83.34210859064814px;
  min-height: 76.41086596400714px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #ECEAFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_52 {
  position: absolute;
  width: 11.928973848609985px;
  min-height: 24.606889039256544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_52 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_52 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_52 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_52 span#rtr-s-Paragraph_52_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_61 {
  position: absolute;
  width: 32.11408050831341px;
  min-height: 16.836292500544005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_61 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_61 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_61 span#rtr-s-Paragraph_61_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 {
  position: absolute;
  width: 83.3421085906482px;
  min-height: 76.41086596400726px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 > .backgroundLayer > .colorLayer {
  background-color: #ECEAFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_53 {
  position: absolute;
  width: 11.928973848610553px;
  min-height: 24.606889039256544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_53 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_53 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_53 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_53 span#rtr-s-Paragraph_53_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_62 {
  position: absolute;
  width: 42.11110548442048px;
  min-height: 19.426491346781518px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_62 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_62 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_62 span#rtr-s-Paragraph_62_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_55 {
  position: absolute;
  width: 11.928973848610099px;
  min-height: 24.606889039256544px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_55 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_55 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_55 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_55 span#rtr-s-Paragraph_55_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_63 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_63 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_63 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_63 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_63 span#rtr-s-Paragraph_63_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_54 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_54 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_54 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_54 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_54 span#rtr-s-Paragraph_54_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_64 {
  position: absolute;
  width: 32.11408050831312px;
  min-height: 16.836292500544005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_64 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_64 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_64 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_64 span#rtr-s-Paragraph_64_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_45 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_45 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_46 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_46 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_47 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_47 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_48 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_48 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_49 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_49 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_43 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_43 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_43 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_44 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_44 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_44 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_39 {
  position: absolute;
  width: 63.003190935383316px;
  min-height: 36.26278384732552px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_39 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_41 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_41 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_41 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_41 span#rtr-s-Paragraph_41_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_31 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_37 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_37 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_38 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_38 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_25 {
  position: absolute;
  width: 80.3740463256836px;
  height: 2.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_26 {
  position: absolute;
  width: 80.3740463256836px;
  height: 2.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_27 {
  position: absolute;
  width: 80.3740463256836px;
  height: 2.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_66 {
  position: absolute;
  width: 273.4882812499999px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_66 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_66 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_66 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_66 span#rtr-s-Paragraph_66_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_70 {
  position: absolute;
  width: 135.5390625px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_70 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_70 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_70 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_70 span#rtr-s-Paragraph_70_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Union_10 {
  position: absolute;
  width: 18.471176147460938px;
  height: 15.984161376953125px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_50 {
  position: absolute;
  width: 16.24847412109375px;
  height: 18.440032958984375px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 {
  position: absolute;
  width: 180.00000000000023px;
  min-height: 828.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_10 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_10 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_12 {
  position: absolute;
  width: 16.666664123535156px;
  height: 12.903030395507812px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Union_4 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_12 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_12 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_21 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_21 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Union_6 {
  position: absolute;
  width: 15.852066040039062px;
  height: 14.80975341796875px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_40 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_40 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_43 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_15 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_42 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_42 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_50 {
  position: absolute;
  width: 86.00067983001458px;
  min-height: 16.441142067769675px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: center;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_50 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Mask_10 {
  position: absolute;
  width: 70.00068664550781px;
  height: 70.30477905273438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_69 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_69 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_69 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_69 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Paragraph_69 span#rtr-s-Paragraph_69_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a #s-Path_28 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae13c4b1-02df-4827-bc48-80c2b10ef78a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}