#s-b00bb674-73ed-41f1-bffc-fd6e351a157a > #backgroundBox {
  position: absolute;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a > #alignmentBox {
  position: relative;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 {
  position: absolute;
  width: 919.9999999999997px;
  min-height: 562.2222222222227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 {
  position: absolute;
  width: 301.9772222222225px;
  min-height: 39.611111111111086px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 1.2px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 {
  position: absolute;
  width: 301.9772222222225px;
  height: 45.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 .valign {
  vertical-align: middle;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 {
  position: absolute;
  width: 301.9772222222225px;
  height: 46.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 .valign {
  vertical-align: middle;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Input_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_18 {
  position: absolute;
  width: 215.70214843750045px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_18 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_16 {
  position: absolute;
  width: 260.0703125000002px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_16 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.25pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 14.25pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_17 {
  position: absolute;
  width: 161.529296875px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_17 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Path_5 {
  position: absolute;
  width: 16.637741088867188px;
  height: 13.631800651550293px;
  cursor: pointer;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_15 {
  position: absolute;
  width: 49.921875px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_15 span {
  color: #8B8B8B;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a #s-Image_1 {
  position: absolute;
  width: 455.0000000000001px;
  height: 452.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b00bb674-73ed-41f1-bffc-fd6e351a157a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}