#s-f305af33-bfa4-400d-a093-dac3e98c8d4a > #backgroundBox {
  position: absolute;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a > #alignmentBox {
  position: relative;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 {
  position: absolute;
  width: 252.0px;
  min-height: 101.3px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_4 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #2193BB;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Union_9 {
  position: absolute;
  width: 21.8306884765625px;
  height: 29.98796844482422px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_42 {
  position: absolute;
  width: 53.234680175781136px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_42 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_42 span#rtr-s-Paragraph_42_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_23 {
  position: absolute;
  width: 123.25527191162132px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_23 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_74 {
  position: absolute;
  width: 91.34814453125px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_74 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_74 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_74 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_74 span#rtr-s-Paragraph_74_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_73 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_73 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_73 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_73 span {
  color: #67B585;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_73 span#rtr-s-Paragraph_73_0 {
  color: #67B585;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_74 {
  position: absolute;
  width: 8.376322746276855px;
  height: 4.139999866485596px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 {
  position: absolute;
  width: 252.0px;
  min-height: 101.3px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_22 {
  position: absolute;
  width: 115.25566101074219px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_22 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_3 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #7FC857;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_39 {
  position: absolute;
  width: 94.8003921508789px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_39 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_39 span#rtr-s-Paragraph_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_40 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_40 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_40 span {
  color: #67B585;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_40 span#rtr-s-Paragraph_40_0 {
  color: #67B585;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_41 {
  position: absolute;
  width: 96.34814453125px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_41 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_41 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_41 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_41 span#rtr-s-Paragraph_41_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_73 {
  position: absolute;
  width: 8.376322746276855px;
  height: 4.139999866485596px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_1 {
  position: absolute;
  width: 28.00262451171875px;
  height: 28.000003814697266px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 {
  position: absolute;
  width: 252.0px;
  min-height: 101.3px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_21 {
  position: absolute;
  width: 145.32988357543945px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_21 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_2 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #E79E35;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_35 {
  position: absolute;
  width: 110.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_36 span {
  color: #B74141;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #B74141;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_37 {
  position: absolute;
  width: 99.34814453125px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_37 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_65 {
  position: absolute;
  width: 8.376322746276855px;
  height: 4.139999866485596px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_70 {
  position: absolute;
  width: 28.00262451171875px;
  height: 28.000003814697266px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 {
  position: absolute;
  width: 252.0px;
  min-height: 101.3px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #FDEEB1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_51 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_51 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_51 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_51 span#rtr-s-Paragraph_51_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_64 {
  position: absolute;
  width: 66.72460174560541px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_64 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_64 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_64 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_64 span#rtr-s-Paragraph_64_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_50 {
  position: absolute;
  width: 123.72460174560547px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_50 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_81 {
  position: absolute;
  width: 150.51425170898438px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_81 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_81 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_81 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_81 span#rtr-s-Paragraph_81_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
  letter-spacing: 1.7px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 {
  position: absolute;
  width: 252.0px;
  min-height: 262.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_48 {
  position: absolute;
  width: 92.13600158691406px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_48 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_48 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_48 span#rtr-s-Paragraph_48_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_49 {
  position: absolute;
  width: 92.13600158691418px;
  min-height: 12.180000000000177px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_49 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Image_4 {
  position: absolute;
  width: 29.18px;
  height: 29.18px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_47 {
  position: absolute;
  width: 100.00000000000011px;
  min-height: 15.177204147778411px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_47 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_46 {
  position: absolute;
  width: 100.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Image_2 {
  position: absolute;
  width: 32.36302781595606px;
  height: 35.1772041477783px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_43 {
  position: absolute;
  width: 100.00000000000011px;
  min-height: 11.179999999999723px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_43 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_43 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.75pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_38 {
  position: absolute;
  width: 100.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Image_3 {
  position: absolute;
  width: 32.22px;
  height: 28.18px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_25 {
  position: absolute;
  width: 123.39648437500003px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_25 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 {
  position: absolute;
  width: 793.0px;
  min-height: 366.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px rgba(0,0,0,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_20 {
  position: absolute;
  width: 61.29600143432617px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_20 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_5 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_6 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_7 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_8 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_12 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_13 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_14 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_15 {
  position: absolute;
  width: 738.4462280273438px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_27 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_28 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_29 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_30 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_31 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_32 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_33 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_34 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_62 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_62 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_62 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_62 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_62 span#rtr-s-Paragraph_62_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 7.5pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_71 {
  position: absolute;
  width: 734.7265014648438px;
  height: 201.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_63 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_63 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_63 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_63 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_63 span#rtr-s-Paragraph_63_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_65 {
  position: absolute;
  width: 21.94140625px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_65 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_65 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_65 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_65 span#rtr-s-Paragraph_65_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_66 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_66 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_66 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_66 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_66 span#rtr-s-Paragraph_66_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_67 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_67 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_67 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_67 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_67 span#rtr-s-Paragraph_67_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_68 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_68 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_68 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_68 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_68 span#rtr-s-Paragraph_68_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_69 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_69 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_69 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_69 span {
  color: #ABABAB;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_69 span#rtr-s-Paragraph_69_0 {
  color: #ABABAB;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_1 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_19 {
  position: absolute;
  width: 2.0px;
  height: 138.16168212890625px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_5 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_20 {
  position: absolute;
  width: 2.0px;
  height: 138.16168212890625px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_6 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_21 {
  position: absolute;
  width: 2.0px;
  height: 187.74354553222656px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_7 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_22 {
  position: absolute;
  width: 2.0px;
  height: 167.47450256347656px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_8 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_23 {
  position: absolute;
  width: 2.0px;
  height: 154.31332397460938px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Ellipse_9 {
  width: 8.999999999999973px;
  height: 9.0px;
  min-height: 9.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_24 {
  position: absolute;
  width: 2.0px;
  height: 162.9518585205078px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 {
  position: absolute;
  width: 180.00000000000023px;
  min-height: 828.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(1.8369701987210296E-15px -10.0px 5px #D8D5FF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 {
  position: absolute;
  width: 180.0px;
  min-height: 83.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3C2CD1;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_8 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_8 span {
  color: #6D6D6D;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #6D6D6D;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_9 {
  position: absolute;
  width: 16.666664123535156px;
  height: 12.903030395507812px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Union_1 {
  position: absolute;
  width: 14.504798889160156px;
  height: 14.50482177734375px;
  cursor: pointer;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_6 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_6 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_4 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_4 span {
  color: #6C6C6C;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #6C6C6C;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Union_2 {
  position: absolute;
  width: 15.852066040039062px;
  height: 14.80975341796875px;
  cursor: pointer;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_2 {
  position: absolute;
  width: 110.0px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_2 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 8.25pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_42 {
  position: absolute;
  width: 17.065711975097656px;
  height: 17.066011428833008px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_18 {
  position: absolute;
  width: 181.3787078857422px;
  height: 2.0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_1 {
  position: absolute;
  width: 81.21599578857416px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_1 span {
  color: #8B8B8B;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #8B8B8B;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 6.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_14 {
  position: absolute;
  width: 86.00067983001458px;
  min-height: 16.441142067769675px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Mask_2 {
  position: absolute;
  width: 70.00068664550781px;
  height: 70.30477905273438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_13 {
  position: absolute;
  width: 113.92626953125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_13 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 20.189903259277344px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_61 {
  position: absolute;
  width: 273.4882812499999px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_61 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_61 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_61 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_61 span#rtr-s-Paragraph_61_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_15 {
  position: absolute;
  width: 135.5390625px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Regular_wgt400',Arial;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_15 span {
  color: #3C2CD1;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #3C2CD1;
  text-decoration: none;
  font-family: 'Montserrat-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Union_5 {
  position: absolute;
  width: 18.471176147460938px;
  height: 15.984161376953125px;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a #s-Path_48 {
  position: absolute;
  width: 16.24847412109375px;
  height: 18.440032958984375px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f305af33-bfa4-400d-a093-dac3e98c8d4a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}